

/* Character UI styles */
.attribute {
  font-weight: bold;
  margin-top: 10px;
}

.body {
  background-image: url("../images/hutao.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

#titles li.active {
  color: green;
}

/***
.tooltip {
  
}
***/

.tooltip .tooltiptext {
  position: relative;
  display: inline-block;
  font-size: 16px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
